/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  width: 150px;
  height: 220px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 150px;
  height: 220px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.scompari {
  visibility: hidden;
}

.selezionate {
  border: blue solid 5px;
}

.mostra-errore {
  border: red solid 5px;
}

.mostra-successo {
  border: green solid 5px;
}

.selezionate .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 150px;
  height: 220px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-front img,
.flip-card-back img {
  width: 150px;
  height: 220px;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Behaviour classes */

.disabled-card {
  pointer-events: none;
}
