#primary-content {
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cf-error {
  border: 1px solid red !important;
}

#contactCounter {
  background-color: green;
  color: white;
  padding: 5px;
}

#contactBook {
  max-height: 400px;
}

.contactListItem {
  padding-top: 2px;
  padding-bottom: 2px;
}

.contactInfoList {
  padding-left: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contactCard {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
