#primary-content {
  background-color: #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.primary-title {
  padding: 20px;
}

.cf-error {
  border: 1px solid red !important;
}

.cf-info {
  font-weight: bold;
}

#foundContact {
  margin-top: 8px;
}

.search-button {
  margin: 4px;
}

#contactCounter {
  /*text-shadow: 2px 2px 5px #000000;*/
  padding: 5px;
}

#contactBook {
  max-height: 400px;
}

.contactListItem {
  padding-top: 2px;
  padding-bottom: 2px;
}

.contactInfoList {
  padding-left: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contactCard {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
